*{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0e17;
}
html {
  scroll-behavior: smooth;
}


/*navbar styles*/
nav {
    background-color: #0f0e17;
    color: #fffffe;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1% 10%;
    border-bottom: #fffffe 1px solid;
    position: fixed;
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  nav ul li {
    margin-right: 20px;
  }
a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ff8906;
    font-weight: 700;
  }
  

  /*home styleing*/


  .con{
    width: 80%;
    margin: auto;
    color: #fffffe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    min-height: 100vh;
  }

  .con .right img{
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow: #fffffe  1px 1px 10px;
  }

  .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }

  .left a{
    padding: 20px;
    text-align: center;
    width: 150px;
    background-color: #ff8906;
    border-radius: 5%;
    cursor: pointer;
  }


  /*Projects styling*/

.project img{
  width: 100%
}


.projects-con{
  background-color: #fffffe;
  color: #0f0e17;
  min-height: 100vh;
}
.projects-con p{
  font-size: 1.3rem;
  color: #2e2f3e;
  margin: 20px 0;
}

.projects-con h1{
  font-size: 3rem;
  font-weight: 700;
}

.projects-header{
  text-align: center;
  padding: 100px 0;
}

.project{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.project div{
  flex-basis: 45%;
  background-color: #0f0e17;
  color: #fffffe;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  margin: 50px 0;
  border-radius: 5%;
  box-shadow: 1px 1px 10px #0f0e17;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;


}

.project div h2{
align-self: flex-start;
cursor: pointer;
}
.project div img{
  cursor: pointer;

}

.project div:hover{
  flex-basis: 48%;
}



/* skills styling */

.skills-con{
  min-height: 100vh;
  color: #fffffe;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills-con h1{
  font-size: 3rem;

}

.skills-con p {
  color: #a7a9be;
  width: 60%;
  margin: 20px auto;
  font-size: 1.3rem;
}

.skills-con .header{
  text-align: center;
  margin: 100px 0;
}

.skills-list{
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

.skill{
  margin-top: 20px;
}

.progress-bar{
  border: 1px solid #fffffe;
  height: 60px;
  animation-name: bar-anime;
  animation-duration: 2s;
}

.progress-bar p {
  color: #0f0e17;
  background-color: #fffffe;
  text-align: left;
  height: 100%;
  margin: 0;
  padding: 15px;

}
@keyframes bar-anime {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}



/* about styling */

.about-con{
  min-height: 100vh;
  background-color: #fffffe;
  text-align: center;
  padding: 100px 0;
}

.about-con h1{
  color: #0f0e17;
}
.about-con p{
  width: 80%;
  margin: 50px auto;
  text-align: left;
  color: #2e2f3e;
}


/* contact us styling */

.contact-con{
  color: #fffffe;
  min-height: 100vh;
  text-align: center;
  padding: 100px 0;
}

.contact{
  display: flex;
  width: 80%;
  margin: 5% auto;
  justify-content: space-between;
  align-items: flex-start;
}



.contact .right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 40%;
}

.contact .right input{
  margin: 10px 0 30px 0;
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fffffe;
  font-size: 18px;
  color: #0f0e17;
  outline: none; 
}

.contact .right button{
  height: 50px;
  width: 20%;
  padding: 10px;
  color: #fffffe;
  background-color: #ff8906;
  border: none;
  outline: none; 
  cursor: pointer;
}

.contact .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact .left .social-media{
  display: flex;
  gap: 2%;
  flex-basis: 10%;

}

.contact a{
  flex-basis: 1%;
}


/* responsive css */

@media only screen and (min-width: 600px) {
  /* home */
  .con{
    flex-direction:column-reverse;
    justify-content:space-around;
    width: 100%;
  }
  .con .left h1{
    font-size: 4rem;
  }
  .con .left{
    width: 80%;
  }
  .con .left p{
    font-size: 2rem;
    margin: 20px 0;
  }
  .con .left a{
    font-size: 2rem;
    width: 30%;
  }
  .con .right img{
    width: 100%;
    height: 100%;
  }
  .con .right{
    width: 80%;
  }
  /* projects */
  .projects-header h1{
    font-size: 4rem;
  }
  .projects-header p{
    font-size: 0.6rem;
  }

  .project div a h2{
    margin-top: 20%;
  }

  /* skills */
  .skills-con{
    min-height: 0.5vh;
  }

  /* about */
  .about-con p{
    font-size: 0.6rem;
  }
  .about-con{
    min-height: 0.5vh;
  }
  .about-con h1{
    font-size: 4rem;
  }
  /* contact */
  .contact-con{
    min-height: 65vh;
  }
  .contact-con h1{
    font-size: 4rem;
  }
  .contact-con p,h3,input{
    font-size: 1.5rem;
  }
}